<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="container">
        @* ------------------------------------- 1° Fila -------------------------------------------------------- *@
        <div class="row">

            <div class="row col-2 me-1">
                <label for="socio" class="col-sm-5 fw-bold">Socio:</label>
                <div class="col-sm-7">
                    <select class="form-select form-select-sm" @bind="Cliente.Socio" id="socio">
                        <option value=true>SI</option>
                        <option value=false>NO</option>
                    </select>
                    <ValidationMessage For="@(() => Cliente.Socio)" />
                </div>
            </div>

            <div class="row col-4 me-1">
                <label for="apellido" class="col-sm-2 fw-bold">Apellido:</label>
                <div class="col-sm-10">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Apellido" id="apellido" />
                    <ValidationMessage For="@(() => Cliente.Apellido)" />
                </div>
            </div>

            <div class="row col-4 me-1">
                <label for="nombre" class="col-sm-2 fw-bold">Nombre:</label>
                <div class="col-sm-10">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Nombre" id="nombre" />
                    <ValidationMessage For="@(() => Cliente.Nombre)" />
                </div>
            </div>
                    
            <div class="row col-2">
                <label for="dni" class="col-sm-3 fw-bold">DNI:</label>
                <div class="col-sm-9">
                    <InputNumber class="form-control form-control-sm" @bind-Value="@Cliente.DNI" id="dni" />
                    <ValidationMessage For="@(() => Cliente.DNI)" />
                </div>
            </div>
        </div>
        <hr />

        @* -----------------------------------  2° Fila --------------------------------------------------------------- *@
        <div class="row">

            <div class="row col-2">
                <label for="cuil" class="col-sm-3 fw-bold">CUIL:</label>
                <div class="col-sm-9">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.CUIL" id="cuil" />
                    <ValidationMessage For="@(() => Cliente.CUIL)" />
                </div>
            </div>

            <div class="row col-2">
                <label for="sexo" class="col-sm-4 fw-bold">Sexo:</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm" @bind="Cliente.Sexo" id="sexo">
                        <option value="0">-- Elija Sexo --</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <ValidationMessage For="@(() => Cliente.Sexo)" />
                </div>
            </div>

            <div class="row col-4">
                <label for="tipocliente" class="col-sm-3 fw-bold">Tipo Cliente:</label>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" @bind="Cliente.TipoClienteId" id="tipocliente">
                        <option value=0>-- Seleccione un Tipo de Cliente --</option>
                        @if (TiposClientes is not null)
                        {
                            @foreach (var tipoCliente in TiposClientes)
                            {
                                <option value="@tipoCliente.Id">@tipoCliente.DescripcionTipoCliente</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => Cliente.TipoClienteId)" />
                </div>
            </div>

            <div class="row col-4">
                <label for="especialidad" class="col-sm-3 fw-bold">Especialidad:</label>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" @bind="Cliente.EspecialidadId" id="especialidad">
                        <option value=0>-- Seleccione una Especialidad --</option>
                        @if (Especialidades is not null)
                        {
                            @foreach (var especialidad in Especialidades)
                            {
                                <option value="@especialidad.Id">@especialidad.Nombre</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => Cliente.EspecialidadId)" />
                </div>
            </div>
        </div>
        <hr />

        @* --------------------------------------- 3° Fila ----------------------------------------------------------- *@

        <div class="row">

            <div class="row col-4">
                <label for="domicilio" class="col-sm-2 fw-bold">Domicilio:</label>
                <div class="col-sm-10">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Domicilio" id="domicilio" />
                    <ValidationMessage For="@(() => Cliente.Domicilio)" />
                </div>
            </div>

            <div class="row col-3">
                <label for="barrio" class="col-sm-2 fw-bold">Barrio:</label>
                <div class="col-sm-10">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Barrio" id="barrio" />
                    <ValidationMessage For="@(() => Cliente.Barrio)" />
                </div>
            </div>
                  
            <div class="row col-2">
                <label for="cp" class="col-sm-4 fw-bold">CP:</label>
                <div class="col-sm-8">
                    <InputNumber class="form-control form-control-sm" @bind-Value="@Cliente.CP" id="cp" />
                    <ValidationMessage For="@(() => Cliente.CP)" />
                </div>
            </div>
         
            <div class="row col-3">
                <label for="localidad" class="col-sm-3 fw-bold">Localidad:</label>
                <div class="col-sm-9">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Localidad" id="localidad" />
                    <ValidationMessage For="@(() => Cliente.Localidad)" />
                </div>
            </div>
        </div>
        <hr />

        @* -------------------------------------- 4° Fila ----------------------------------------------------------- *@

        <div class="row">

             <div class="row col-3">
                <label for="telefono" class="col-sm-2 fw-bold">Teléfono:</label>
                <div class="col-sm-10">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Telefono" id="telefono" />
                    <ValidationMessage For="@(() => Cliente.Telefono)" />
                </div>
            </div>

            <div class="row col-3">
                <label for="celular" class="col-sm-2 fw-bold">Celular:</label>
                <div class="col-sm-10">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Celular" id="celular" />
                    <ValidationMessage For="@(() => Cliente.Celular)" />
                </div>
            </div>

            <div class="row col-6">
                <label for="email" class="col-sm-3 fw-bold">Correo Electrónico:</label>
                <div class="col-sm-9">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Email" id="email" />
                    <ValidationMessage For="@(() => Cliente.Email)" />
                </div>
            </div>
        </div>
        <hr />

        @* -------------------------------------  5° Fila ------------------------------------------------------------- *@

        <div class="row">

            <div class="row col-2">
                <label for="estadocivil" class="col-sm-5 fw-bold">Est. Civil:</label>
                <div class="col-sm-7">
                    <select class="form-select form-select-sm" @bind="Cliente.EstadoCivil" id="estadocivil">
                        <option value="0">-- Elija Estado Civil --</option>
                        <option value="SOL">Soltero</option>
                        <option value="CAS">Casado</option>
                        <option value="SEP">Separado</option>
                        <option value="DIV">Divorciado</option>
                        <option value="VIU">Viudo</option>

                    </select>
                    <ValidationMessage For="@(() => Cliente.EstadoCivil)" />
                </div>
            </div>

            <div class="row col-3">
                <label for="fechanacimiento" class="col-sm-5 fw-bold">Fec. Nacim.:</label>
                <div class="col-sm-7">
                    <InputDate class="form-control form-control-sm" @bind-Value="@Cliente.FechaNacimiento" id="fechanacimiento" />
                    <ValidationMessage For="@(() => Cliente.FechaNacimiento)" />
                </div>
            </div>

            <div class="row col-4">
                <label for="lugarnacimiento" class="col-sm-4 fw-bold">Lugar de Nacim.:</label>
                <div class="col-sm-8">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.LugarNacimiento" id="lugarnacimiento" />
                    <ValidationMessage For="@(() => Cliente.LugarNacimiento)" />
                </div>
            </div>

            <div class="row col-3">
                <label for="nacionalidad" class="col-sm-4 fw-bold">Nacionalidad:</label>
                <div class="col-sm-8">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.Nacionalidad" id="nacionalidad" />
                    <ValidationMessage For="@(() => Cliente.Nacionalidad)" />
                </div>
            </div>
           
        </div>
        <hr />

        @* --------------------------------------- 6° Fila ----------------------------------------------------------- *@

        <div class="row">


            <div class="row col-4">
                <label for="nrocuentahp" class="col-sm-4 fw-bold">N° Cuenta HP:</label>
                <div class="col-sm-8">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.NroCuentaHP" id="nrocuentahp" />
                    <ValidationMessage For="@(() => Cliente.NroCuentaHP)" />
                </div>
            </div>

            <div class="row col-4">
                <label for="nrosocio" class="col-sm-4 fw-bold">N° de Socio:</label>
                <div class="col-sm-8">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.NroSocio" id="nrosocio" />
                    <ValidationMessage For="@(() => Cliente.NroSocio)" />
                </div>
            </div>

            <div class="col-4">
            </div>
        </div>
        <hr />

        @* ----------------------------------------- 7° Fila --------------------------------------------------------- *@

        <div class="row">
            <label for="apellidoconyuge" class="col-sm-4 fw-bolder text-decoration-underline">CONYUGE</label>
        </div>

        <div class="row">

            <div class="row col-3">
                <label for="apellidoconyuge" class="col-sm-3 fw-bold">Apellido:</label>
                <div class="col-sm-9">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.ApellidoConyuge" id="apellidoconyuge" />
                    <ValidationMessage For="@(() => Cliente.ApellidoConyuge)" />
                </div>
            </div>

            <div class="row col-3">
                <label for="nombreconyuge" class="col-sm-3 fw-bold">Nombre:</label>
                <div class="col-sm-9">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.NombreConyuge" id="nombreconyuge" />
                    <ValidationMessage For="@(() => Cliente.NombreConyuge)" />
                </div>
            </div>

            <div class="row col-2">
                <label for="dniconyuge" class="col-sm-4 fw-bold">DNI:</label>
                <div class="col-sm-8">
                    <InputNumber class="form-control form-control-sm" @bind-Value="@Cliente.DNIConyuge" id="dniconyuge" />
                    <ValidationMessage For="@(() => Cliente.DNIConyuge)" />
                </div>
            </div>

            <div class="row col-2">
                <label for="cuilconyuge" class="col-sm-4 fw-bold">CUIL:</label>
                <div class="col-sm-8">
                    <InputText class="form-control form-control-sm" @bind-Value="@Cliente.CUILConyuge" id="cuilconyuge" />
                    <ValidationMessage For="@(() => Cliente.CUILConyuge)" />
                </div>
            </div>

            <div class="row col-2">
                <label for="fechanacimientoconyuge" class="col-sm-5 fw-bold">Fec.Nacim.:</label>
                <div class="col-sm-7">
                    <InputDate class="form-control form-control-sm" @bind-Value="@Cliente.FechaNacimientoConyuge" id="fechanacimientoconyuge" />
                    <ValidationMessage For="@(() => Cliente.FechaNacimientoConyuge)" />
                </div>
            </div>
           
        </div>
    </div>
    <hr />

    <button class="btn btn-primary float-end" type="submit">Guardar Cambios</button>
    <button class="btn btn-success float-end mx-2" @onclick="ReturnAction">Regresar</button>
</EditForm>
