@page "/clientes"

@inject IRepository repository

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-people-fill"></i> Clientes

                        <a class="btn btn-sm btn-outline-primary float-end" href="/clientes/create"><i class="bi bi-plus-square"></i> Nuevo Cliente</a>
                    </span>
                </div>
                <div class="card-body">

                    <Filter PlaceHolder="Buscar Cliente..." Callback=@FilterCallBack />

                    <div class="mx-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                        <label>Tipo Cliente: </label>

                        <select class="form-select m-lg-2" style="width:200px" @onchange="TipoClienteChangedAsync">
                            <option value="0">Todos</option>
                            @if (TiposClientes is not null)
                            {
                                @foreach (var tipoCliente in TiposClientes)
                                {
                                    <option value="@tipoCliente.Id">@tipoCliente.DescripcionTipoCliente</option>
                                }
                            }
                        </select>

                        <label>Socio: </label>
                        <select class="form-select m-lg-2" style="width:80px" @onchange="SocioChangedAsync">
                            <option value="0">Todos</option>
                            <option value="1">SI</option>
                            <option value="2">NO</option>                           
                        </select>

                        <label>Baja: </label>
                        <select class="form-select m-lg-2" style="width:80px" @onchange="AltaBajaChangedAsync">
                            <option value="0">Todos</option>
                            <option value="1">SI</option>
                            <option value="2">NO</option>
                        </select>
                    </div>
                    
                    <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectedPage="SelectedPageAsync"
                                RecordsNumber="SelectedRecordsNumberAsync" />
                    <p class="float-end">Total Registros: @totalRegisters</p>

                    <GenericList MyList="Clientes" IsLoading="IsLoading">
                        <Body>
                            <table class="table table-sm table-info table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Titular</th>
                                        <th>Cliente</th>
                                        <th>Tipo Cliente</th>
                                        <th>Especialidad</th>
                                        <th>DNI</th>
                                        <th>Domicilio</th>
                                        <th>Barrio</th>
                                        <th>Localidad</th>
                                        <th>Teléfono</th>
                                        <th>Celular</th>
                                        <th>Fecha Nacim.</th>
                                        <th>Socio</th>
                                        <th>Baja</th>
                                        <th style="width:210px"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cliente in Clientes!)
                                    {
                                        <tr>
                                            <td>@cliente.Id</td>
                                            <td>@cliente.Titular</td>
                                            <td>@cliente.AfiliadoOriginal</td>
                                            <td>@cliente.TipoCliente!.DescripcionTipoCliente</td>
                                            @if (@cliente.Especialidad != null)
                                            {
                                                <td>
                                                    @cliente.Especialidad!.Nombre
                                                </td>
                                            }
                                            else
                                            {
                                                <td>Sin especialidad</td>
                                            }
                                            <td>@cliente.DNI</td>
                                            <td>@cliente.Domicilio</td>
                                            <td>@cliente.Barrio</td>
                                            <td>@cliente.Localidad</td>
                                            <td>@cliente.Telefono</td>
                                            <td>@cliente.Celular</td>
                                            <td>@cliente.FechaNacimiento</td>
                                            <td>@cliente.EsSocio</td>
                                            <td>@cliente.EsBaja</td>
                                            @* <td>
                                                <input type="checkbox" onclick="return false" @bind="@cliente.Socio">
                                            </td> *@
                                            
                                            <td>
                                                <a href="/clientes/edit/@cliente.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                                <a class="btn btn-sm btn-info btn-sm" href="/clientes/details/@cliente.Id"><i class="bi bi-binoculars-fill"></i> Detalles</a>
                                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(cliente))><i class="bi bi-trash" /> Borrar</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </Body>
                    </GenericList>
                </div>
            </div>
        </div>
    </div>
</div>



