@page "/usuarios"

@inject IRepository repository

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-file-person-fill"></i> Usuarios

                        <a class="btn btn-sm btn-outline-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square"></i> Nuevo Usuario</a>
                    </span>
                </div>
                <div class="card-body">


                    <Filter PlaceHolder="Buscar Usuario..." Callback=@FilterCallBack />

                    <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectedPage="SelectedPageAsync"
                                RecordsNumber="SelectedRecordsNumberAsync" />
                    <p class="float-end">Total Registros: @totalRegisters</p>

                    <GenericList MyList="Usuarios" IsLoading="IsLoading">
                        <Body>
                            <table class="table table-sm table-info table-striped">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Rol</th>
                                        <th>Email</th>
                                        <th>Email Confirmado</th>
                                        <th>Activo</th>
                                        <th style="width:160px"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var usuario in Usuarios!)
                                    {
                                        <tr>
                                            <td>@usuario.FullName</td>
                                            <td>@usuario.UserType.ToString()</td>
                                            <td>@usuario.Email</td>
                                            <td>
                                                <input type="checkbox" onclick="return false" @bind="@usuario.EmailConfirmed">
                                            </td>
                                            <td>
                                                <input type="checkbox" onclick="return false" @bind="@usuario.IsActive">
                                            </td>
                                            <td>
                                                <a @onclick=@(() => ShowModalAsync(usuario.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(@usuario.Id))><i class="bi bi-trash" /> Borrar</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </Body>
                    </GenericList>
                </div>
            </div>
        </div>
    </div>
</div>


